<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} | Strawberrys' Blog por @flafortes</title>
    <meta name="author" content="Mauro George" />
    <meta name="description" content="{{ page.meta_description }}" />
    <meta name="keywords" content="{{ page.meta_keywords }}" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />

  </head>
  <body>
    <div id="first-header">
      <h1><a href="/" title="Strawberries' Blog">Strawberries</a></h1>
    </div>
    <header id="header"></header>
    <div class="hr"></div>
    {{ content }}
    <div id="footer-holder">
      <footer id="footer">
        <div id="footer-social-links">
          <a href="http://github.com/FlaviaFortes" class="icon_github" title="github" target="_blank"></a>
          <a href="http://twitter.com/flafortes" class="icon_twitter" title="twitter" target="_blank"></a>
          <a href="http://facebook.com/fla.fortes" class="icon_facebook" title="facebook" target="_blank"></a>
        </div>
      </footer>
    </div>
  </body>
</html>